//reset
*{padding:0;margin:0;border:0;outline:0}
li{list-style-type:none;}
a,a:hover,a:focus{text-decoration: none;}
//variables
$cyan:#004B62;
$yahei:Microsoft YaHei;

@mixin center-block{
	margin-left: auto;
	margin-right: auto;
}
@mixin border-box{
	box-sizing:border-box;
}
.clearfix{
	&:after {
		content:'';
		display:block;
		clear: both;
	}
}



html,body,#container{height:100%;}
#container{
	font-family: $yahei;
}
.font-en{
	font-family: verdana;
}
.wrap{
	width:100%;
	background:linear-gradient((top left),#FFF,$cyan 70%,#000);
	background:-webkit-linear-gradient((top left),#FFF,$cyan 70%,#000);
	header{
		position:relative;
		height:80px;
		border-bottom:#000 solid 1px;
		transition: all linear .2s;
		h1{
			font-family:$yahei;
			font-weight: normal;
		}
	}

}
.resume{
		@include border-box;
}

//format resume
.content{
	max-width:1000px;
	background-color: #FFF;
	@include center-block;
	padding:30px 50px;
	@include border-box;
	p{
		font-size: 14px;
		line-height: 24px;
	}
}
.head{
	overflow: hidden;
	font-family: $yahei;
	h1{
		font-size: 30px;
		margin-bottom: 6px;
		letter-spacing: 3px;
	}
	h2{
		font-size: 14px;
		color: lighten($cyan,20%);
		// margin-bottom:14px;
		letter-spacing:1px;
	}
	p{
		text-indent: 2em;
	}
	.contact{
		float:right;
		text-align: right;
		word-spacing: 4px;
		line-height: 26px;
		a{
			color:lighten($cyan,10%);
			&:hover{
				color:lighten($cyan,20%);
			}
		}
	}
}
.main{
	font-family: $yahei;
	section{
		margin: 10px 0;
		border-top: darken(#CCC,50%) dotted 1px;
		overflow: hidden;
		h1{
			margin: 10px 0;
			font-size: 20px;
			font-weight: bold;
			color:lighten($cyan,10%);
		}
		h2{
			font-size: 14px;
			font-weight: normal;
			font-style: italic;
			color:darken(#CCC,20%);
		}
		.skillWrap {
			display: flex;
			// overflow: auto;
			// justify-content: space-between;
			flex-wrap: wrap;
			gap: 8px;
		}
		.skillTag {
			display: inline-flex;
			padding: 4px 8px;
			background: #fff;
			color: lighten($cyan,20%);
			border: lighten($cyan,20%) solid 1px;
			border-radius: 10px;
			font-size: 14px;
			font-weight: bold;
		}
		.skill{
			@include border-box;
			flex: 1;
			padding: 0 10px;
			@media screen and (max-width: 480px){
				text-align: center;
			}
			h1{
				font-size: 18px;
				margin:0;	
			}
			.progressBar{
				font-size: 24px;
				letter-spacing: 4px;
				b{
					font-size: 24px;
					font-weight: 900;
					color:lighten($cyan,20%);
				}
			}
		}

		.projectList{
			/* margin-left:20%; */
			overflow: hidden;
			li{
				margin-bottom: 20px;
				h3{
					display: flex;
					justify-content: space-between;
					font-size: 18px;
					color:darken($cyan,15%);
					margin-bottom: 10px;
					span {
						color:darken(#CCC,20%);
						font-weight: normal;
						i{
							letter-spacing: 2px;
						}
					}
				}
				h4 {
					display: flex;
					justify-content: space-between;
					margin-bottom: 10px;
					color:darken(#CCC,20%);
					font-weight: normal;
					i{
						letter-spacing: 2px;
					}
				}
				h5{
					margin:6px 0;
				}
				p{
					text-indent: 2em;
				}
				ul{
					li{
						list-style-type:disc;
						margin:0 0 0 20px;
						font-size: 14px;
						line-height: 24px;
					}
				}
			}
		}
	}
}
